body {
  background-color: rgb(246, 248, 250);
  margin: 0;
  font-family: Lato;
}

.conversation {
  background: url(images/photos/IMG_20180823_083142.jpg);
  padding: 30px;
  background-size: cover;
  text-align: center;
  background-position-y: 100%;
  min-height: 820px;
  display: flex;
}

.mac-window {
  height: 420px!important;
  width: 640px!important;
  margin-right: 80px;
  margin-left: auto;
  text-align: left;
}

h2.tagline {
  color: #fee242;
  font-size: 36px;
  text-shadow: 1px 1px 1px #000000ad;
  position: relative;
  width: auto;
  display: inline-block;
  margin: 10px 80px;
}

h2.tagline:before {
  content: '&';
  position: absolute;
  top: -5px;
  font-size: 82px;
  left: -70px;
}

a.call-to-action {
  display: inline-block;
  margin-top: 100px;
  background: #3667bf;
  padding: 20px 30px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 19px;
  position: relative;
  z-index: 999;
}

.for-who {
  text-align: center;
}

.for-who h1 {
  color: #333333;
  margin: 60px auto;
  text-transform: uppercase;
  font-weight: 800;
  max-width: 600px;
  text-align: left;
}

.bots {
  padding: 0 30px;
}

.bots p {
  max-width: 600px;
  margin: 80px auto;
  font-size: 18px;
  line-height: 31px;
  text-align: justify;
  letter-spacing: 1px;
}

.bots ul {
  max-width: 600px;
  margin: 0 auto;
  margin-top: -40px;
  font-size: 18px;
  line-height: 31px;
  text-align: justify;
  letter-spacing: 1px;
  padding-left: 250px;
}

footer {
  background: #666666;
  padding: 30px;
  text-align: right;
  color: white;
  font-weight: 300;
}

footer a,
footer a:hover,
footer a:active,
footer a:visited {
  color: #c0c0ff;
}

.delicious-cookies {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #e6e6e6a1;
  padding: 5px;
  z-index: 1000;
}

.delicious-cookies button {
  border: none;
  padding: 5px 20px;
  font-size: 14px;
  color: white;
  margin: 0px 15px;
}

.delicious-cookies button:first-of-type {
  background: #01ff4f;
}

.delicious-cookies button:nth-of-type(2) {
  background: #b3b3b3;
}

.hidden {
  display: none;
}

.modal-form label {
  display: block;
  margin: 40px 0 5px;
  color: #252729;
}

.modal-form select {
  font-size: 14px;
  margin: 4px;
}

.modal-form input[type=email] {
  font-size: 16px;
  padding: 6px;
  margin: 4px;
}

.modal-form input[type=submit] {
  font-size: 16px;
  margin: 30px 0 0;
  padding: 10px 30px;
  border: 1px solid #3c3c3c;
  cursor: pointer;
  background: #eafff1;
}

@media (max-width: 1200px) {
  .conversation {
    flex-direction: column;
  }

  h2.tagline {
    margin: 10px;
    line-height: 48px;
  }

  h2.tagline:before {
    position: relative;
    top: 45px;
    font-size: 82px;
    left: -30px;
  }

  .mac-window {
    margin: 20px auto;
  }
}

@media (max-width: 690px) {
  .conversation {
    padding: 0;
    min-height: 750px;
    background-position-x: -100px;
  }

  h2.tagline {
    line-height: 28px;
    font-size: 17px;
  }

  h2.tagline:before {
    top: 25px;
    font-size: 49px;
    left: -17px;
  }

  .mac-window {
    width: 100%!important;
    height: 260px!important;
  }

  .mac-window header {
    display: none;
  }

  .slack nav {
    display: none;
  }

  .bots ul {
    padding-left: 0;
  }

  .for-who {
    min-height: 100px;
  }
}
